In [1]:
# Imports
import pandas as pd
import numpy as np
import os

# Set path
path = r'C:\Users\moein\anaconda3\04-2025 Achievement 4 - Python Fundamentals\02 Data\Original Data'

In [3]:
# Import data (excluding eval_set)

# Define which columns to import (omit 'eval_set')
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

# Load orders.csv
df_ords = pd.read_csv(os.path.join(path, 'orders.csv'), usecols=vars_list)
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [5]:
# Import products.csv as df_prods

df_prods = pd.read_csv(os.path.join(path, 'products.csv'))
df_prods.head(20)
df_prods.tail(35)
df_prods.columns
df_prods.shape

(49693, 5)

In [7]:
# Analyze and wrangle

df_prods['aisle_id'].max()

134

In [8]:
df_prods['department_id'].dtype

dtype('int64')

### Wrangling Tasks

In [9]:
# Change an identifier column to string

df_ords['order_id'] = df_ords['order_id'].astype('str')

In [10]:
# Rename order_dow to orders_day_of_week

df_ords.rename(columns={'order_dow': 'orders_day_of_week'}, inplace=True)

In [11]:
# Find busiest hour

df_ords['order_hour_of_day'].value_counts().sort_index()

order_hour_of_day
0      22758
1      12398
2       7539
3       5474
4       5527
5       9569
6      30529
7      91868
8     178201
9     257812
10    288418
11    284728
12    272841
13    277999
14    283042
15    283639
16    272553
17    228795
18    182912
19    140569
20    104292
21     78109
22     61468
23     40043
Name: count, dtype: int64

In [13]:
# Use data dictionary to find meaning of department_id = 4

df_dep = pd.read_csv(os.path.join(path, 'departments.csv'))
df_dep_t = df_dep.T
df_dep_t_new = df_dep_t[1:]
df_dep_t_new.columns = df_dep_t.iloc[0]
df_dep_t_new
data_dict = df_dep_t_new.to_dict('index')
data_dict.get('4')  # Or df_dep[df_dep['department_id'] == 4]

{'department': 'produce'}

In [25]:
# Subset: only snacks (id 19)

df_snacks = df_prods[df_prods['department_id'] == 19]
df_snacks.shape[0]  # number of rows

6264

In [26]:
# Subset: party items (alcohol=5, deli=20, beverages=7, meat/seafood=12)

df_party = df_prods[df_prods['department_id'].isin([5, 7, 12, 20])]
df_party.shape[0]  # number of rows

7650

In [27]:
# Extract user_id = 1 info

user1_data = df_ords[df_ords['user_id'] == 1]

# Details of this customer's behavior
user1_data.describe()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.0,11.000000,11.000000,11.000000,10.000000
mean,1.0,6.000000,2.636364,10.090909,19.000000
std,0.0,3.316625,1.286291,3.477198,9.030811
min,1.0,1.000000,1.000000,7.000000,0.000000
25%,1.0,3.500000,1.500000,7.500000,14.250000
50%,1.0,6.000000,3.000000,8.000000,19.500000
75%,1.0,8.500000,4.000000,13.000000,26.250000
max,1.0,11.000000,4.000000,16.000000,30.000000

In [23]:
# Export orders dataframe
df_ords.to_csv(os.path.join(path.replace('Original Data', 'Prepared Data'), 'orders_wrangled.csv'), index=False)

# Export departments dictionary as CSV
df_dep_t_new.to_csv(os.path.join(path.replace('Original Data', 'Prepared Data'), 'departments_wrangled.csv'), index=False)